&i2c3 {
	status = "okay";
	clock-frequency = <400000>;
	ilitek@41 {
		compatible = "tchip,ilitek";
		reg  = <0x41>;
		touch,irq-gpio = <&ap_gpio 144 0x2002>;
		touch,reset-gpio = <&ap_gpio 145 0>;
	};

	himax-ts@48 {
		compatible = "himax,hxcommon";
		reg = <0x48>;
		himax,panel-coords = <0 719 0 1599>;
		himax,display-coords = <0 719 0 1599>;
		himax,irq-gpio = <&ap_gpio 144 0x2002>;
		himax,rst-gpio = <&ap_gpio 145 0>;
		report_type = <1>;
	};

	chipone_tddi@58 {
		compatible = "chipone-tddi";
		reg = <0x58>;
		chipone,rst-gpio = <&ap_gpio 145 0>;
		chipone,irq-gpio = <&ap_gpio 144 0>;
		chipone,x-res = <719>;
		chipone,y-res = <1599>;
	};

	gcore_ts@26 {
         compatible = "gcore,touchscreen";
         reg = <0x26>;
         gcore,irq-gpio = <&ap_gpio 144 0>;
         gcore,rst-gpio = <&ap_gpio 145 0>;
	};
};

